<form action=<%="/books/#{@book.id}"%> method="post">
  <input type="hidden" name="_method" value="patch">
  <label name="title">Title</label>
  <input type="text" name="book[title]" value="please enter a title"> 
  <input type="text" name="book[author]" value="please enter a author"> 
  <input type="text" name="book[snippet]" value="please enter a snippet"> 
  <input type="submit"> Edit Book </input>
</form>