<form action="/books" method="post">
  <label name="title">Title</label>
  <input type="text" name="book[title]" value="please enter a title"> 
  <input type="text" name="book[author]" value="please enter a author"> 
  <input type="text" name="book[snippet]" value="please enter a snippet"> 
  <input type="submit"> Create Book </input>
</form>